
# Core Libraries
moviepy
requests
python-dotenv
PyYAML
google-api-python-client
google-auth-oauthlib
google-auth-httplib2

# AI & Services
edge-tts
openai
groq
google-generativeai
tavily-python

# Utility & Image/Sound
pillow
opencv-python-headless
pydub
removebg

# Environment
pytz
